{{define "index"}}
<html>
  <head>
    <title>Jobs</title>
    <script src="/static/htmx.min.js"></script>
  </head>
  <body>
    <h1>Jobs</h1>
    <p>Run jobs locally</p>
    <form
      hx-post="/api/jobs"
      hx-target="#jobs"
      hx-swap="beforeend"
      hx-on::after-request="this.reset()"
      hx-validate=""
    >
      <input name="job-command" type="text" placeholder="Command to run" minlength="1"/>
      <input type="submit" value="Submit"/>
    </form>
    <table id="jobs">
      <tr>
        <th>Id</th>
        <th>Command</th>
        <th>Status</th>
      </tr>
      {{range $job := .Jobs}}
        {{template "job-row" $job}}
      {{end}}
  </body>
</html>
{{end}}
